main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

#guess {
  width: 5em;
}

#reset {
  margin: 20px;
  display: none;
}
.message {
  display: none;
}
#min, #max {
  display: none;
  color: crimson;
}